$left-offset: 100px;
$right-offset-btn: 120px;
$open-sans: "Open Sans", sans-serif;

html {
  height: 100%;
  margin: 0px;
}

body {
  font-family: $open-sans;
  min-height: 100%;
  margin: 0px;
  background-color: red($color: #000000);
}

.diagram-component {
  width: calc(100% - #{$left-offset});
  left: $left-offset;
  border: 0px !important;
  height: 100%;
  position: fixed !important;
  border: solid 1px black;
  background-color: #e5e5e5;
}

.error-container {
  position: absolute;
  left: calc(100% - #{$right-offset-btn} - 100px);
  top: calc(100% - 100px);
  align-items: center;

  & > .error-bubble {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    background-color: rgb(217, 83, 79);
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.06);
  }
  & > .error-message {
    position: absolute;
    background-color: rgb(217, 83, 79);
    color: white;
    display: flex;
    align-items: center;
    border-radius: 4px;
    // width: 180px;
    max-width: 150px;
    left: -180px;
    padding: 10px;
  }
}

.info-container {
  position: absolute;
  left: calc(100% - #{$right-offset-btn});
  top: calc(100% - 100px);

  & > button {
    width: 64px;
    height: 64px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    background-color: black;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.06);
    &:hover {
      opacity: 0.8;
    }
  }
}
