$left-offset: 100px;
$right-offset-btn: 120px;
$open-sans: "Open Sans", sans-serif;

html {
  height: 100%;
  margin: 0px;
}

body {
  font-family: $open-sans;
  min-height: 100%;
  margin: 0px;
  background-color: red($color: #000000);
}

.diagram-component {
  width: calc(100% - #{$left-offset});
  left: $left-offset;
  border: 0px !important;
  height: 100%;
  position: fixed !important;
  border: solid 1px black;
  background-color: #e5e5e5;
}

.error-container {
  position: absolute;
  left: calc(100% - #{$right-offset-btn});

  top: calc(100% - 100px);
  align-items: center;

  & > .error-bubble {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    background-color: rgb(217, 83, 79);
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.06);
  }
  & > .error-message {
    position: absolute;
    background-color: rgb(217, 83, 79);
    color: white;
    display: flex;
    align-items: center;
    border-radius: 4px;
    // width: 180px;
    max-width: 150px;
    left: -180px;
    padding: 10px;
  }
}

.info-container {
  position: absolute;
  left: calc(100% - #{$right-offset-btn});
  top: calc(100% - 100px);

  & > button {
    outline: none;
    width: 64px;
    height: 64px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    background-color: black;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.06);
    &:hover {
      opacity: 0.8;
    }
  }

  & > table {
    position: fixed;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.06);
    background-color: white;
    padding: 18px;
    border-radius: 8px;
    height: 200px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    overflow: scroll;
    overflow-x: hidden;
    left: calc(100% - #{$right-offset-btn} - 370px);
    top: calc(100% - 290px);
    & > tr {
      display: flex;
      padding: 6px;
      border-bottom: 1px solid #afafaf;
      &:hover {
        background-color: #e6e6e6;
      }
      & > th:first-child {
        margin-right: 10px;
      }
      & > th:last-child {
        margin-left: auto;
        margin-right: 4px;
        font-weight: normal;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(199, 199, 199);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 136, 136);
}
