$text-color: #0f0f0f;
.left-panel {
  position: fixed;
  background-color: white;
  z-index: 100;
  width: 300px;
  height: 100%;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.06);
  color: $text-color;
  display: flex;
  flex-direction: column;
  overflow: auto;
  & > .information-area {
    & > p {
      text-align: justify;
    }
  }

  & > .separator-bar {
    margin-bottom: 20px;
    background-color: #d7d7d7;
    color: black;
    height: 1px;
    min-height: 1px !important;
    display: flex;
    border: none;
  }

  & > .tab-options {
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    font-size: 18px;

    & > button {
      transition: color 0.2s;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }
  }

  & > .sensors,
  .internal-state {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
    padding: 24px;
    justify-content: space-between;
    & > .value-input {
      display: flex;
      flex-direction: column;
      & > span {
        font-size: 14px;
        color: #797878;
        margin-bottom: 4px;
      }
      & > .input-label {
        font-size: 14px;
        color: #797878;
        margin-bottom: 4px;
      }
      & > input {
        width: 110px;
        border: 1px solid #d7d7d7;
        box-sizing: border-box;
        border-radius: 4px;
        outline: none;
        padding: 8px;
        transition: 0.3s;
        &:focus {
          border: 1px solid #474747;
        }
      }
    }
  }

  & > .json-input {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 40px;
    justify-content: space-between;
    & > button {
      transition: 0.07s;
      background: #202020;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 12px;
      width: 100%;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      &:hover {
        background-color: #8a8a8a;
      }
    }
    & textarea {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      resize: none;
      outline: none;
      margin-bottom: 30px;
      &:focus {
        border: 1px solid #474747;
      }
    }
  }
}

.slide-box {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  & .MuiSlider-root {
    color: #59575f !important;
  }

  & p {
    color: #797878;
  }
}
